@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;800&family=Poppins:wght@100;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar Syle */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1f2326;
}
::-webkit-scrollbar-thumb {
  background: #05c2fc;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00769a;
}
/* Scroll Bar Syle */
