@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar Syle */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1F2326;
}
::-webkit-scrollbar-thumb {
  background: #05C2FC;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00769a;
  
}
/* Scroll Bar Syle */
